body,
html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100%;
    overflow: hidden;
    color: black;
}

.pantalla {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.pantalla-oculta {
    display: none !important;
}

.titulo-central {
    font-size: 2em;
    text-align: center;
}

.titulo {
    margin-bottom: 20px;
}

/* Fondos por estado */
.fondo-azul {
    background-color: #8AC4D0;
}

.fondo-reglas {
    background-color: #F9F3DD;
}

.fondo-escaner {
    background-color: #fff;
}

.fondo-cargando {
    background-color: #E8CAAE;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
}

#play-button::after {
    content: attr(data-estado);
    font-size: 1.2rem;
    color: white;
    background-color: #333;
    padding: 10px 20px;
    border-radius: 10px;
}

.btn::after {
    content: attr(data-texto);
    font-size: 1rem;
    color: white;
    background-color: #333;
    padding: 10px 20px;
    border-radius: 8px;
    display: inline-block;
}

/* Estilos especiales para el botón de reproducción con estado */
.btn-play.estado-play[data-estado="play"]::after {
    content: "Reproducir canción";
}

.btn-play.estado-pause[data-estado="pause"]::after {
    content: "Pausar canción";
}